html
  head
    title='Docker Test'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Olá Pessoa!!
        h2 Até que enfim funcionou! Estava fazendo merda.
        p Click the button below to see my favorite page
        p 
          a.btn.btn-primary(href="http://www.xcoders.com.br") WebSite
        p