html
  head
    title='Docker Test'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Olá :( !! Tá dificil d+ Windows Containers are on their way... (-;
        p Está foda de fazer essa b bagaça b funcionar
        p Click the button below to head over to my podcast...
        p 
          a.btn.btn-primary(href="http://www.xcoders.com.br") WebSite
        p